.ShefCardContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.MainCard {
    width: 500px;
}

.cardFooter h3 {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
}

.cardHead {
    position: relative;
}

.cardHead img {
    width: 100%;
}

.cardBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardFooter2 img {
    width: 85px;
    height: 85px;
    border: 4px solid white;
    border-radius: 40px;
    position: absolute;
    bottom: -15%;
    right: 0%;
}

.CookMaster {
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0px 4px 0px;
}

.cardFooter p {
    margin: 0px;
}

.stars {
    display: flex;
    align-items: center;
    height: 50px;
    width: 245px;
    justify-content: space-between;
}

.stars img {
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
}

.stars p {
    margin: 0px !important;
}